@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en);

body {
  background-color: #F2F1EC;
  height: 100px;
  width: 300px;

}

.title {
  font-size: 18px;
  font-family: "Open Sans", "sans-serif";
  font-weight: 600;
  color: #2B251F;
  padding-left: 6px;
  padding-top: 2px;

}


.buttons {
  margin-top: 18px;
}

#startButton, #stopButton {
  border-radius: 5px;
  border-width: 1px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 6px;
  padding-bottom:6px;
}

#startButton:hover , #stopButton:hover {
  opacity: 60%;
}


